body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  display: block;
  margin-bottom: 10px;
}

.radio-group {
  margin-bottom: 20px;
}

#results,
#simulationSection {
  margin-top: 20px;
}

h3 {
  margin-top: 30px;
}

.input-explanation {
  color: #555;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 16px;
}

#formulaSection {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.formula-container {
  /* Use a monospace font for a math-like appearance */
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
}

.formula-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formula {
  font-weight: bold;
  font-size: 1.4em;
  /* Make the formula stand out */
  color: #2c3e50;
  margin-left: 10px;
}

.formula-value {
  font-weight: bold;
  /* Blue color to differentiate values */
  color: #2980b9;
  margin: 0 5px;
}

.expected-result {
  font-size: 1.5em;
  /* Highlight the result */
  font-weight: bold;
  /* Green for emphasis */
  color: #27ae60;
}


.section-box {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

#progressBar {
  width: 100%;
  background-color: #ddd;
}

#progressBarFill {
  height: 20px;
  width: 0%;
  background-color: #4caf50;
  transition: width 0.5s ease;
}

.updated {
  background-color: #fffae6;
  /* light yellow for updated elements */
  transition: background-color 0.5s ease;
}